name: Run Command on Matrix

on:
  workflow_call:
    inputs:
      title:
        type: string
        required: true
      operatingSystems:
        type: string
        required: false
        default: '["ubuntu-latest", "windows-latest", "macOS-latest"]'
      phpVersions:
        type: string
        required: true
      phpExtensions:
        type: string
        required: true
      tools:
        type: string
        required: true
      command:
        type: string
        required: true
    secrets:
      GH_TOKEN:
        required: true

jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: ${{ fromJson(inputs.operatingSystems) }}
        php-versions: ${{ fromJson(inputs.phpVersions) }}
    name: ${{ inputs.title }} with PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: ${{ inputs.phpExtensions }}
          tools: ${{ inputs.tools }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Install composer dependencies
        run: composer install --no-interaction --no-progress --prefer-dist
      - name: ${{ inputs.title }}
        run: ${{ inputs.command }}